html {
  font-size: 10px;
}

a {
  text-decoration: none;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5.6rem;
}

h3 {
  font-size: 2.4rem;
}

:root {
  --main-red: #fe0000;
  --main-white: rgba(245,245,245, 1);
}


@media screen and (min-width: 1440px) {
  h1 {
    font-size: 8rem;
  }
}

p {
  font-size: 1.6rem;
}

.App {
  font-family: 'Hind Siliguri', sans-serif;
  height: 100vh;
  background-color: var(--main-red);
  padding-bottom: 25px;
}

.wrapper {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
  background-image: url('./assets/images/rcharris-ds.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;  
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* LOGIN SCREEN */

.login__container {
    padding: 20px 40px;
    background-color: var(--main-white);
    
}

.button {
  padding: 1.5rem;
  width: 100%;
}