html {
  font-size: 10px;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 5.6rem;
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 8rem;
  }
}

p {
  font-size: 1.6rem;
}

.App {
  font-family: 'Hind Siliguri', sans-serif;
  height: 100vh;
  background-color: #fe0000;
  padding-bottom: 25px;
}

.wrapper {
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  height: 100%;
}